@using WebApp.Helpers;
<script src="~/Scripts/Views/Dashboard/EditarUsuario.js"></script>
@{
    ViewBag.Title = "Editar";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}

<div class="container space-1 space-bottom-md-1">
    <form class="js-validate" id="frmEdition">
        <div class="loader"></div>
        <div class="alert alert-success d-none js-perfil-message" role="alert">
            <h4 class="alert-heading">¡Hola!</h4>
            <p>Recuerde completar sus datos personales para obtener la mejor experiencia en Flay.</p>
            <hr>
            <p class="mb-0">Las ofertas y promociones estan basadas en sus preferencias.</p>
        </div>
        <div class="alert alert-warning alert-dismissible fade show d-none js-login-message" id="alert_container" role="alert">
            <span id="alert_message"></span>
        </div>

        <p class="text-muted">
            Los campos marcados con un asterisco (*) son requeridos.
        </p>
        <div class="row">
            <div class="col-sm-6 mb-6">
                @Html.CtrlInput(id: "Nombre", type: "text", label: "Nombre",
               placeHolder: "Nombre", required: true,
               mensajeValidacion: "Por favor ingrese el nombre del usuario")
            </div>
            <div class="col-sm-6 mb-6">
                @Html.CtrlInput(id: "PrimerApellido", type: "text", label: "Primer apellido",
               placeHolder: "Primer apellido", required: true,
               mensajeValidacion: "Por favor ingrese el apellido.")
            </div>
            <div class="col-sm-6 mb-6">
                @Html.CtrlInput(id: "SegundoApellido", type: "text", label: "Segundo apellido",
               placeHolder: "Segundo apellido", required: false)
            </div>
            <div class="col-sm-6 mb-6">
                <div class="form-group">
                    <label for="TipoIdentificacion">Tipo de indetificación <span class="text-danger">*</span></label>
                    <select class="form-control js-form-filter-control" id="TipoIdentificacion" required>
                        <option value="">-- Seleccione una opción --</option>
                        <option value="Cedula">Cédula de Identidad</option>
                        <option value="Pasaporte">Pasaporte</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-6 mb-6">
                @Html.CtrlInput(id: "Identificacion", type: "text", label: "Identificación",
               placeHolder: "ID12345", required: true,
               mensajeValidacion: "Por favor ingrese un valor válido.")
            </div>
            <div class="col-sm-6 mb-6">
                @Html.CtrlInput(id: "NumeroTelefono", type: "text", label: "Número de teléfono",
               placeHolder: "+50688191246", required: true,
               mensajeValidacion: "Por favor ingrese un valor válido.")
            </div>
            <div class="col-sm-6 mb-6">
                <div class="form-group">
                    <label for="Sexo">Género <span class="text-danger">*</span></label>
                    <select class="form-control js-form-filter-control" id="Sexo" required>
                        <option value="">-- Seleccione una opción --</option>
                        <option value="F">Femenino</option>
                        <option value="M">Masculino</option>
                    </select>
                </div>
            </div>

            <div class="col-12">
                <button type="button" class="btn btn-primary" id="btn-submit">Guardar</button>
                <button type="reset" class="btn btn-soft-secondary">Cancelar</button>
            </div>
        </div>
    </form>
</div>

<script>
    $(document).ready(function () {
        $.HSCore.components.HSValidation.init('.js-validate');
    });
</script>
