
<footer>
    <!-- Lists -->
    <div class="border-bottom">
        <div class="container space-2">
            <div class="row justify-content-md-between">
                <div class="col-sm-4 col-lg-2 mb-4 mb-lg-0">
                    <h4 class="h6 font-weight-semi-bold">Sobre Flay</h4>

                    <!-- List Group -->
                    <ul class="list-group list-group-flush list-group-borderless mb-0">
                        <li><a class="list-group-item list-group-item-action" href="#">Acerca</a></li>
                        <li><a class="list-group-item list-group-item-action" href="">Servicios</a></li>
                        <li><a class="list-group-item list-group-item-action" href="#">Carreras</a></li>
                    </ul>
                    <!-- End List Group -->
                </div>

                <div class="col-sm-4 col-lg-2 mb-4 mb-lg-0">
                    <h4 class="h6 font-weight-semi-bold">Cuenta</h4>

                    <!-- List Group -->
                    <ul class="list-group list-group-flush list-group-borderless mb-0">
                        <li><a class="list-group-item list-group-item-action" href="#">Account</a></li>
                        <li><a class="list-group-item list-group-item-action" href="#">My tasks</a></li>
                        <li><a class="list-group-item list-group-item-action" href="#">Projects</a></li>
                    </ul>
                    <!-- End List Group -->
                </div>

                <div class="col-sm-4 col-lg-2 mb-4 mb-lg-0">
                    <h4 class="h6 font-weight-semi-bold">Recursos</h4>

                    <!-- List Group -->
                    <ul class="list-group list-group-flush list-group-borderless mb-0">
                        <li><a class="list-group-item list-group-item-action" href="#">Ayuda</a></li>
                        <li><a class="list-group-item list-group-item-action" href="#">Terminos de Uso</a></li>
                        <li><a class="list-group-item list-group-item-action" href="#">Privacidad</a></li>
                    </ul>
                    <!-- End List Group -->
                </div>

                <div class="col-md-6 col-lg-4">
                    <h4 class="h6 font-weight-semi-bold mb-4">Flay. Gestor de Aeropuertos, con el respaldo de International Airport Holding.</h4>
                </div>
            </div>
        </div>
    </div>
    <!-- End Lists -->
    <!-- Copyright -->
    <div class="container text-center space-1">
        <!-- Logo -->
        <a class="d-inline-flex align-items-center mb-2" href="index.html" aria-label="Front">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="36px" height="36px" viewBox="0 0 46 46" xml:space="preserve" style="margin-bottom: 0;">
            <path fill="#3F7DE0" opacity=".65" d="M23,41L23,41c-9.9,0-18-8-18-18v0c0-9.9,8-18,18-18h11.3C38,5,41,8,41,11.7V23C41,32.9,32.9,41,23,41z" />















            <path class="fill-info" opacity=".5" d="M28,35.9L28,35.9c-9.9,0-18-8-18-18v0c0-9.9,8-18,18-18l11.3,0C43,0,46,3,46,6.6V18C46,27.9,38,35.9,28,35.9z" />















            <path class="fill-primary" opacity=".7" d="M18,46L18,46C8,46,0,38,0,28v0c0-9.9,8-18,18-18h11.3c3.7,0,6.6,3,6.6,6.6V28C35.9,38,27.9,46,18,46z" />















            <path class="fill-white" d="M17.4,34V18.3h10.2v2.9h-6.4v3.4h4.8v2.9h-4.8V34H17.4z" />















        </svg>
            <span class="brand brand-primary">Flay</span>
        </a>
        <!-- End Logo -->
        <p class="small text-muted">&copy; Flay. 2019 Todo los derechos reservados.</p>
    </div>
    <!-- End Copyright -->
    <!-- Power by -->
    <div class="col-sm-12 mb-12 mb-sm-3 text-sm-center">
        <a href="@Url.Action("index","Flay")"><p class="small text-black-70 mb-0">Power by WebTech</p></a>
    </div>
    <!-- End Power by -->
</footer>

<aside id="sidebarContent" class="u-sidebar" aria-labelledby="sidebarNavToggler">
    <div class="u-sidebar__scroller">
        <div class="u-sidebar__container">
            <div class="u-sidebar--account__footer-offset">
                <!-- Toggle Button -->
                <div class="d-flex justify-content-between align-items-center pt-4 px-7">
                    <h3 class="h6 mb-0">Cuenta</h3>

                    <button type="button" class="close ml-auto"
                            aria-controls="sidebarContent"
                            aria-haspopup="true"
                            aria-expanded="false"
                            data-unfold-event="click"
                            data-unfold-hide-on-scroll="false"
                            data-unfold-target="#sidebarContent"
                            data-unfold-type="css-animation"
                            data-unfold-animation-in="fadeInRight"
                            data-unfold-animation-out="fadeOutRight"
                            data-unfold-duration="500">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <!-- End Toggle Button -->
                <!-- Content -->
                <div class="js-scrollbar u-sidebar__body">
                    <!-- Holder Info -->
                    <header class="d-flex align-items-center u-sidebar--account__holder mt-3">
                        <div class="position-relative">
                            <img class="u-sidebar--account__holder-img" src="../../assets/img/160x160/default-user.png" alt="Image Description">
                            <span class="badge badge-xs badge-outline-success badge-pos rounded-circle"></span>
                        </div>
                        <div class="ml-3">
                            <span class="font-weight-semi-bold js-offcanvas-fullname"></span>
                            <span class="u-sidebar--account__holder-text js-offcanvas-rol"></span>
                        </div>
                    </header>
                    <!-- End Holder Info -->

                    <div class="u-sidebar__content--account">
                        <!-- List Links -->
                        <ul class="list-unstyled u-sidebar--account__list">
                            <li class="u-sidebar--account__list-item">
                                <a class="u-sidebar--account__list-link" href="@Url.Action("Index", "Dashboard")">
                                    <span class="fas fa-home u-sidebar--account__list-icon mr-2"></span>
                                    Dashboard
                                </a>
                            </li>
                            <li class="u-sidebar--account__list-item">
                                <a class="u-sidebar--account__list-link" href="@Url.Action("Index", "Dashboard")">
                                    <span class="fas fa-user-circle u-sidebar--account__list-icon mr-2"></span>
                                    Perfil
                                </a>
                            </li>
                            <li class="u-sidebar--account__list-item">
                                <a class="u-sidebar--account__list-link" href="@Url.Action("CambiarContrasena", "Dashboard")">
                                    <span class="fas fa-tasks u-sidebar--account__list-icon mr-2"></span>
                                    Modificar contraseña
                                </a>
                            </li>
                            <li class="u-sidebar--account__list-item">
                                <a class="u-sidebar--account__list-link" href="@Url.Action("Index", "Dashboard")">
                                    <span class="fas fa-layer-group u-sidebar--account__list-icon mr-2"></span>
                                    Actividad <span class="badge badge-danger float-right mt-1">3</span>
                                </a>
                            </li>
                            <li class="u-sidebar--account__list-item">
                                <a class="u-sidebar--account__list-link js-link-logout" href="#">
                                    <span class="fas fa-sign-out-alt u-sidebar--account__list-icon mr-2"></span>
                                    Cerrar sesión
                                </a>
                            </li>
                        </ul>
                        <!-- End List Links -->


                        <div class="u-sidebar--account__list-divider"></div>

                        <!-- List Links -->
                        <ul class="list-unstyled u-sidebar--account__list">
                            <li class="u-sidebar--account__list-item">
                                <a class="u-sidebar--account__list-link" href="#">
                                    <span class="fas fa-user-plus u-sidebar--account__list-icon mr-2"></span>
                                    Recomiende Flay
                                </a>
                            </li>
                        </ul>
                        <!-- End List Links -->
</div>
                </div>
            </div>

            <!-- Footer -->
            <footer id="SVGwaveWithDots" class="svg-preloader u-sidebar__footer u-sidebar__footer--account">
                <ul class="list-inline mb-0">
                    <li class="list-inline-item pr-3">
                        <a class="u-sidebar__footer--account__text" href="#">Privacidad</a>
                    </li>
                    <li class="list-inline-item pr-3">
                        <a class="u-sidebar__footer--account__text" href="#">Términos de uso</a>
                    </li>
                    <li class="list-inline-item">
                        <a class="u-sidebar__footer--account__text" href="#">
                            <i class="fas fa-info-circle"></i>
                        </a>
                    </li>
                </ul>

                <!-- SVG Background Shape -->
                <div class="position-absolute right-0 bottom-0 left-0">
                    <img class="js-svg-injector" src="../../assets/svg/components/wave-bottom-with-dots.svg" alt="Image Description"
                         data-parent="#SVGwaveWithDots">
                </div>
                <!-- End SVG Background Shape -->
            </footer>
            <!-- End Footer -->
        </div>
    </div>
</aside>

<a class="js-go-to u-go-to" href="#"
   data-position='{"bottom": 15, "right": 15 }'
   data-type="fixed"
   data-offset-top="400"
   data-compensation="#header"
   data-show-effect="slideInUp"
   data-hide-effect="slideOutDown">
    <span class="fas fa-arrow-up u-go-to__inner"></span>
</a>