@using WebApp.Helpers;
<script src="~/Scripts/Views/LocalComercial/Registrar.js"></script>
@{
    ViewBag.Title = "Registrar local comercial";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@RenderPage("~/Views/Shared/_AdminInnerMenu.cshtml", new { Title = "Registrar local comercial" })

<div class="container space-bottom-md-2">
    <div class="row no-gutters">
        <div class="col-md-8 col-lg-7 col-xl-6 offset-md-2 offset-lg-2 offset-xl-3 space-lg-0 shadow-sm p-7 mt-5">
            <!-- Form -->
            <form class="js-validate mt-5" id="frmEdition">
                <!-- Title -->
                <div class="mb-7">
                    <h1 class="h3 text-primary font-weight-normal mb-0">Registro de local comercial</h1>
                </div>
                <!-- End Title -->
                <!-- mensajes del webapi y div del loading-->
                <div class="loader"></div>
                <div class="alert alert-warning alert-dismissible fade show d-none js-login-message" id="alert_container" role="alert">
                    <span id="alert_message"></span>
                </div>
                <p>Campos requeridos <span class="text-danger">*</span></p>
                <!-- Fin mensajes del webapi y div del loading-->
                @Html.CtrlInput(id: "CodigoLocalComercial", type: "text", label: "Código local comercial", placeHolder: "Loc-1", required: true, mensajeValidacion: "Por favor ingrese el código del local comercial.")
                @Html.CtrlInput(id: "Nombre", type: "text", label: "Nombre local comercial", placeHolder: "Loc-1", required: true, mensajeValidacion: "Por favor ingrese el nombre local comercial.")
                @Html.CtrlInput(id: "MontoAlquierMensual", type: "number", label: "Monto alquier mensual", placeHolder: "1000", required: true, mensajeValidacion: "Por favor ingrese el monto alquier mensual.")
                @Html.CtrlInput(id: "AreaConstruccionM2", type: "number", label: "Área de construcción ", placeHolder: "250", required: true, mensajeValidacion: "Por favor ingrese el área construcción m2 .")
                <!-- Button -->
                <div class="row align-items-center mb-5">
                    <div class="col-12 col-sm-12 text-right">
                        <button type="button" class="btn btn-primary transition-3d-hover" id="btn-submit">Registrar</button>
                        <button type="reset" class="btn btn-secondary transition-3d-hover">Limpiar</button>
                        <a class="btn btn-secondary transition-3d-hover" href="Listar" role="button">Regresar</a>
                    </div>
                </div>
                <!-- End Button -->
            </form>
            <!-- End Form -->
        </div>
    </div>

    <script>
        $(document).ready(function () {
            $.HSCore.components.HSValidation.init('.js-validate');
        });
    </script>
</div>