@using WebApp.Helpers;
<script src="~/Scripts/Views/Aeropuerto/Detalle.js"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyAFEGvdjrsYZKxATWfFydBizVApTh11dnM&callback=initMap" async defer></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-mousewheel/3.1.13/jquery.mousewheel.min.js"></script>
<script type="text/javascript" src="../../../Scripts/zoom-marker.min.js"></script>
<script type="text/javascript" src="../../../Scripts/zoom-marker.js"></script>
<script type="text/javascript" src="../../../Scripts/hammer.js"></script>


@{
    ViewBag.Title = "Detalle aeropuerto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@RenderPage("~/Views/Shared/_AdminInnerMenu.cshtml", new { Title = "Detalle aeropuerto" })

<div class="container space-1 space-bottom-md-3">
    <div class="row">
        <nav class="col-4 nav flex-column">
            <ul class="list-group">
                <li class="list-group-item"><a href='@Url.Action("Listar", "Aerolinea")'>Aerolíneas</a></li>
                <li class="list-group-item"><a href='@Url.Action("Listar", "Pista")'>Pistas</a></li>
                <li class="list-group-item"><a href='@Url.Action("Listar", "Puerta")'>Puertas</a></li>
                <li class="list-group-item"><a href='@Url.Action("Listar", "Parqueo")'>Parqueos</a></li>
                <li class="list-group-item"><a href='@Url.Action("Listar", "LocalComercial")'>Locales comerciales</a></li>
                <li class="list-group-item"><a href='@Url.Action("Listar", "Negocio")'>Negocios</a></li>
            </ul>
        </nav>


        <div class="col-8 card shadow-sm p-7">
            <!-- Title -->
            <div class="mb-7">
                <h1 class="h3 text-primary font-weight-normal mb-0">Detalle del aeropuerto</h1>
            </div>

            <div class="mb-7 d-none" id="btn-assign-admin">
                <a class="btn btn-primary mb-1" href="#animationModal" data-modal-target="#animationModal" data-modal-effect="fadein">
                    Asignar administrador  <span class="fas fa-user-plus"></span>
                </a>
            </div>

            <div id="infoAdministrador" class="d-none card shadow-sm p-5 mb-4 js-admin-details">
                <div class="card-header">
                    <h2 class="h6">Detalles del administrador:</h2>
                    <p class="card-text h6"><b>Nombre:</b> <span id="nombre"></span></p>
                    <p class="card-text h6"><b>Correo electrónico:</b> <span id="correoElectronico"></span></p>
                    <p class="card-text h6"><b>Número de teléfono:</b> <span id="telefono"></span></p>
                </div>
            </div>
            <!-- End Title -->
            <div class="card shadow-sm p-5">
                <div class="card-header">
                    <h2 class="h6">Nombre:</h2>
                    <p class="card-text h6" id="Nombre"></p>
                </div>
                <div class="card-header">
                    <h2 class="h6">Código:</h2>
                    <p class="card-text h6" id="CodigoAeropuerto"></p>
                </div>
                <div class="card-header">
                    <h2 class="h6">Dirección:</h2>
                    <p class="card-text h6" id="Direccion"></p>
                    <p class="card-text h6" id="Ciudad"></p>
                    <p class="card-text h6" id="Pais"></p>
                </div>

                <div class="card-header">
                    <h2 class="h6">Vuelos por hora:</h2>
                    <p class="card-text h6" id="VuelosHora"></p>
                </div>

                <div class="card-header">
                    <h2 class="h6">Porcentaje de comisión por boleto:</h2>
                    <p class="card-text h6" id="PorcentajeComisionBoletos"></p>
                </div>

                <div class="card-header">
                    <h2 class="h6">Porcentaje de impuesto de ventas:</h2>
                    <p class="card-text h6" id="PorcentajeImpuestoVentas"></p>
                </div>

                <div class="card-header">
                    <h2 class="h6">Comisión por uso de una puerta:</h2>
                    <p class="card-text h6" id="ComisionUsoPuerta"></p>
                </div>

                <div class="card-header">
                    <h2 class="h6">Comisión por uso de un parqueo:</h2>
                    <p class="card-text h6" id="ComisionUsoParqueo"></p>
                </div>

                <div class="card-header">
                    <h2 class="h6">Comisión por uso de una pista:</h2>
                    <p class="card-text h6" id="ComisionUsoPista"></p>
                </div>

                <div class="card-header">
                    <h2 class="h6">Zona horaria:</h2>
                    <p class="card-text h6" id="ZonaHoraria"></p>
                </div>

                <div class="card-header">
                    <h2 class="h6">Moneda:</h2>
                    <p class="card-text h6" id="Moneda"></p>
                </div>

                <div class="card-header">
                    <h2 class="h6">Estado:</h2>
                    <p class="card-text h6" id="Estado"></p>
                </div>

                <div class="card-header">
                    <h2 class="h6">Ubicación en el mapa mundial:</h2>
                    <div class="card-header" id="dvMap" style="height:250px;"> </div>
                </div>
                

                <div class="card-header">  
                    <h2 class="h6">Mapa del aeropuerto:</h2>
                    <img id="viewArea" name="viewArea" draggable="false">
                </div>

                <div class="card-header">
                    <button type="reset" id="btn-imprimir" class="btn btn-secondary transition-3d-hover">Imprimir mapa</button>
                </div>

            </div>
            <!-- Button -->
            <div class="row align-items-center mt-5">
                <div class="col-12 col-sm-12 text-right">
                    <div class="col-12 col-sm-12 text-right">
                        <a class="btn btn-secondary transition-3d-hover" href='@Url.Action("Listar","Aeropuerto")' role="button">Regresar</a>
                    </div>
                </div>
            </div>
            <!-- End Button -->
        </div>
    </div>
</div>


<!-- Modal -->
<div id="animationModal" class="js-modal-window u-modal-window" style="width: 500px;">
    <div class="card">
        <!-- Header -->
        <header class="card-header bg-light py-3 px-5">
            <div class="d-flex justify-content-between align-items-center">
                <h3 class="h6 mb-0">Asignar administrador</h3>

                <button type="button" class="close js-clear-search" aria-label="Close" onclick="Custombox.modal.close();">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
        </header>
        <!-- End Header -->
        <!-- Body -->
        <div class="card-body p-5">
            <form class="form-inline" id="searchAdmin">
                <div class="input-group mb-3">
                    <label for="inputSearchAdmin" class="sr-only">Buscar administrador</label>
                    <input type="email" class="form-control" id="inputSearchAdmin" placeholder="Buscar por correo electrónico..."
                           aria-label="Buscar por correo electrónico..." aria-describedby="button-addon2">
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="button" id="btn-search-admin">Buscar</button>
                    </div>
                </div>
                <small id="inputSearchAdmin" class="form-text text-muted">
                    <b>Nota:</b> Al asignar un usuario como Administrador, este tiene acceso a funcionalidades criticas del negocio.
                </small>
            </form>
        </div>
        <div class="alert alert-warning alert-dismissible fade show d-none" id="alert_container" role="alert">
            <span id="alert_message"></span>
        </div>
        <div class="card-body px-5 d-none js-noresults">
            <p class="text-muted"><b>Resultados:</b></p>
            <small class="form-text text-muted js-noresults-msg"></small>
        </div>

        <div class="card-body px-5 d-none js-results">
            <p class="text-muted"><b>Resultados:</b></p>
            <ul>
                <li class="text-muted"><b>Nombre:</b> <span class="js-result-nombre"></span></li>
                <li class="text-muted"><b>ID:</b> <span class="js-result-id"></span></li>
            </ul>
        </div>
        <!-- End Body -->
        <!-- Footer -->
        <div class="card-footer d-flex justify-content-end">
            <button type="button" class="btn btn-sm btn-primary transition-3d-hover mr-1 js-asignar-admin">Asignar administrador</button>
            <button type="button" class="btn btn-sm btn-secondary transition-3d-hover js-clear-search" onclick="Custombox.modal.close();">Cerrar</button>
        </div>
        <!-- End Footer -->
    </div>
</div>
<!-- End Modal -->

<script>
    $(document).ready(function () {
        $.HSCore.components.HSValidation.init('.js-validate');

        // initialization of autonomous popups
        $.HSCore.components.HSModalWindow.init('[data-modal-target]', '.js-modal-window', {
            autonomous: true
        });
    });
</script>